RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [L]

RewriteRule ^api/contact/send/$ /ajax-email.php [NC,L]

RedirectMatch 403 /\.git
RedirectMatch 403 /\.github
RedirectMatch 403 /\.build

# One year for image files
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
  Header set Cache-Control "max-age=31536000, public"
</filesMatch>
# One month for css and js
<filesMatch ".(css|js)$">
  Header set Cache-Control "max-age=2628000, public"
</filesMatch>

<Files .env>
  Deny from All
</Files>

<Files .htaccess>
  Deny from All
</Files>

<Files .gitignore>
  Deny from All
</Files>

<Files .dockerignore>
  Deny from All
</Files>
