RewriteEngine On
RewriteBase /

# Deny from All

# RewriteCond %{REQUEST_FILENAME}.html -f
# RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [L]

# Rewrite static resources
RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
RewriteRule (.+) /public/$1 [L]

RewriteRule ^index\.html$ / [R=301,NC,L]
RewriteRule ^([a-z]+)\.html$ /$1/ [R=301,NC,L]

# RewriteRule ^/?$ /src/views/index.php [NC,L]
# RewriteRule ^([a-z]+)/?$ /src/views/$1.php [NC,L]

RewriteRule ^api/contact/send/$ ajax-email.php [NC,L]

RewriteRule ^(.+)/$ index.php?view=$1 [NC,L]

RedirectMatch 403 /\.git
RedirectMatch 403 /\.github
RedirectMatch 403 /\.build

# One year for image files
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
  Header set Cache-Control "max-age=31536000, public"
</filesMatch>
# One month for css and js
<filesMatch ".(css|js)$">
  Header set Cache-Control "max-age=2628000, public"
</filesMatch>
